

#pictureLinks{
    width:auto;
     height:150px;
     position:relative;
     margin:50px;
    justify-content: center;
}
#headerContainer{
    margin-bottom:100px;
    margin-left:0px;
    margin-right:0px;
    width:100%;
    padding:0px !important;
}
#containerHeader{
    border-bottom:solid gainsboro ;
    color:teal;
    height:50px;
    margin-top:10px;
}
#mainContainer{
    position:relative;
    background:white;
    padding:25px;
    max-width:960px;
    width:75%;
    height:auto;
    border:solid gainsboro;
    box-sizing:content-box;
    overflow: auto;
    justify-content: center;
    color:teal;
}

#pictureBtns{
    width:50px;
    background-color:teal;
    margin-top:75px;
    position:absolute;
    width:200px;
    margin-left:auto;
}

#pictures{
    margin:auto;
    height:100px;
    width:auto;
    padding: 0px;
    position:absolute;
}
#header5{
    background:teal;
     height:100px;
     width:100%;
     font-size:30px;
      color:white;
      padding-top:25px;
      min-width:165px
}

footer{
    background:grey;
     height:75px;
     position:static;
     border-top:solid teal 10px;
     margin-top:20%;
     margin-bottom:0px;
     width:100%;
}

#aboutMe{
    border-right:solid gainsboro;
    min-width:100px;
}
#contact{
    border-right:solid gainsboro;
}
#indexPicture{
    width:250px;
    height:auto;
    transform:rotate(90deg);
    position:absolute;
    margin-left:7.5%;
    padding:25px;
}
#navButtons{
    justify-content: center;
     display:flex;
      line-height: 10px;
}

#headerDiv{
    text-align: center;
    padding:0px;
}
#messageInput{
    height:200px;
}
.pictures{
    height:100px;
    width:200px;
    position:absolute;
}
#pictureBtns{
    margin:0px;
    position:absolute;
    margin-top:75px;
}
#mainP{
    position:Absolute;
    margin:40px;
    font-size:25px;
}